---
---

@import "{{ site.theme }}";

@top-center {
    content: "";
    width: 100%;
    height: 100%;

    background: url("/assets/img/unisphere_logo.png");
}

.page-header {
    background-image: url("/assets/img/unisphere_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #393b45;
}
